.u {
      height: 300px;
      width: 600px;     
      border: 1px solid #000;
      background-color: white;
      
    }
    .a {
      height: 100px;
      width: 600px;
      background-color: green;
    }
    .b {
      height:100px;
      width: 600px;
      background-color: yellow
    }
     .c {
      height:100px;
      width: 600px;
      background-color: blue
    }
    
      
    
   